<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Ren Linux / Android Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ren.settings"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:label="@string/ren_settings_title"
        android:icon="@drawable/ic_ren"
        android:theme="@style/Theme.RenSettings"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <activity
            android:name=".RenSettingsActivity"
            android:label="@string/ren_settings_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="com.android.settings.category.ia.homepage" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.summary"
                value="@string/ren_settings_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                value="@drawable/ic_ren" />
        </activity>

    </application>
</manifest>
